* {
  font-family: 'Space Grotesk', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  background: url(https://images.pexels.com/photos/1407305/pexels-photo-1407305.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
}

html {
  height: 100%;
  width: 100%;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1,
h2 {
  font-size: 20pt;
  background-color: #F7867E;
  opacity: 80%;
  padding: 1px 10px 1px 10px;
}

/* ~~~~~~GAMEBOARD~~~~~~ */
.box {
  border-color: #533A7B;
  font-size: 35pt;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box.top {
  border-bottom-style: groove;
}

.box.bottom {
  border-top-style: groove;
}

.box.left {
  border-right-style: groove;
}

.box.right {
  border-left-style: groove;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.full {
  pointer-events: none;
}

.gameboard {
  width: 50vw;
  height: 75vh;
  background-color: #037B99;
  opacity: 90%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  width: 40vw;
  height: 60vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

/* ~~~~~~PLAYER COLUMNS~~~~~~ */
.display-wins {
  width: 20vw;
  height: 60vh;
  background-color: #F7867E;
  opacity: 70%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.players {
  width: 25vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.btns {
  border: 0;
  border-radius: 8px;
  padding: 8px;
  background-color: #05C705;
  opacity: 70%;
}

.btns:hover {
  opacity: 100%;
}

.player-wins {
  font-size: 20pt;
  background-color: #F7867E;
  opacity: 80%;
  padding: 1px 10px 1px 10px;
}

.wins {
  font-size: 70pt;
  opacity: 100%;
}

/* ~~~~~~GAMEBOARD HEADING~~~~~~ */
.game-page {
  display: flex;
  justify-content: space-evenly;
}

.gameplay-display {
  font-size: 20pt;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ~~~~~~~FACTS PAGE~~~~~~~ */
.rainforest-facts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-between;
}

.facts {
  width: 70vw;
  height: 75vh;
  background-color: #037B99;
  opacity: 90%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.facts-para {
  background-color: transparent;
  width: 70%;
  text-align: center;
}

.main-btn {
  width: auto;
  height: auto;
}

a {
  color: #05C705;
}

.facts-head {
  max-width: 30vw;
  padding-bottom: 10px;
  position: relative;
}

.facts-head:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: black;
  height: 5px;
  border-radius: 10px;
}

.hidden {
  display: none;
}
