* {
  font-family: 'Space Grotesk', sans-serif;
}

body {
  display: flex;
  justify-content: space-evenly;
  background: url(https://images.pexels.com/photos/1407305/pexels-photo-1407305.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
}

.gameplay-display {
  font-size: 20pt;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

html {
  height: 100%;
  width: 100%;
}

p,
h1 {
  color: black;
  background-color: #F7867E;
  opacity: 80%;
  padding: 1px 10px 1px 10px;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* GameBoard */
.box {
  border-color: #533A7B;
  font-size: 35pt;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box.top {
  border-bottom-style: groove;
}

.box.bottom {
  border-top-style: groove;
}

.box.left {
  border-right-style: groove;
}

.box.right {
  border-left-style: groove;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.full {
  pointer-events: none;
}

.gameboard {
  width: 50vw;
  height: 75vh;
  background-color: #037B99;
  opacity: 90%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  width: 40vw;
  height: 60vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

h2 {
  color: black;
  background-color: #F7867E;
  opacity: 80%;
}

/* Player Columns */
.display-wins {
  width: 20vw;
  height: 60vh;
  background-color: #F7867E;
  opacity: 70%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wins {
  font-size: 70pt;
  opacity: 100%;
}

.players {
  width: 25vw;
  flex-direction: column;
}
